.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
  }
  .bg-p
  {
      background-color:  #7579e7;
  }
  /* Code for animated blinking cursor. */

.typed-cursor {
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
  }
  
  @-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
  }
          
  @-webkit-keyframes blink{
    0% { opacity:1; }          
    50% { opacity:0; }
    100% { opacity:1; }
  }
          
  @-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
  }
  
  @-ms-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
  }
  
  @-o-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
  }
  
  #typed { /* Text Styling */
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 1.2em;
  }
  
