<div class="container-fluid">
    <div class="row">
        <div class="jumbotron ">
          <div class="container text-center">
              <img src="../../assets/image/download.png" alt="end" class="rounded-circle" width="100px" height="100px">
              <h1 class="display-4">Fluid jumbotron</h1>
              <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            </div>
            <div class="text-center">
            <a  routerLink="/tutorials" class="btn btn-primary mx-2">Go to Blog</a>
            <a  routerLink="/tutorials" class="btn btn-success mx-2">Go to Videos</a>
            <a  routerLink="/contact-us" class="btn btn-info mx-2">Contact Us!</a>
          </div>
          </div>

    </div>
</div>
<div class="container">
    <div class="row d-flex justify-content-center mb-5">
        <div class="col-lg-3 mx-4">
        <div class="card text-center d-flex justify-content-center " style="width: 18rem; height: 25rem;">
            <img src="../../assets/image/videos.jpeg" class="card-img-top" alt="xyz"  height="250px">
            <div class="card-body">
              <h3 class="card-title">Free Video Courses</h3>
              <p class="card-text">Get your programming career started with these free video courses. Source code is available with all the videos for amazing learning experience.</p>
              <a href="#"  routerLink="/tutorials" class="btn bg-p text-white">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mx-4">
        <div class="card text-center d-flex justify-content-center" style="width: 18rem; height: 25rem;">
            <img src="../../assets/image/coding.jpeg" class="card-img-top" alt="xyz"  height="300px">
            <div class="card-body">
              <h3 class="card-title">Coding Articles</h3>
              <p class="card-text">Some of the latest coding information compiled in the form of coding articles. Keep your programming knowledge up to date with these articles.</p>
              <a href="#" routerLink="/tutorials" class="btn bg-p text-white">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mx-4">
        <div class="card text-center d-flex justify-content-center" style="width: 18rem; height: 25rem">
            <img src="../../assets/image/contacts.jpg" class="card-img-top" alt="xyz" height="300px">
            <div class="card-body">
              <h3 class="card-title">Contact Us!</h3>
              <p class="card-text">Learn programming from these free courses. Examples are available with these tutorials. You can contact me for any doubt and I will get back to you!</p>
              <a href="#" routerLink="/contact-us" class="btn bg-p text-white">Go somewhere</a>
            </div>
          </div>
          </div>

    </div>
</div>