.bg-p
{
    background-color:  #7579e7;
}
.nav-link{
    cursor: pointer;
}
    .form-group .form-control
    {
        width: 420px;
        border-radius: 5px;
        border: 1px solid #ced4da;
        padding: 15px;
        padding-left: 60px;
        color: #495057;
        margin-left: 12px;
        
    }
    .auth-page-icon
    {
        color: #495057;
        position: absolute;
        min-width: 40px;
        padding: 15px;
        margin-left: 10px;
        
    }
   
    
    .login100-form-btn
    {
        background-color:  #7579e7;
        border-radius: 5px;
    }
    .container-login100-form-btn .form-control
    {
        text-align: center;
        padding:7px;
        margin-left: 14px;
    }
    
    .auth-content
    {
        margin-top: 20%;
    }
    .right-corner{
        display: flex;
       
    }
    
    @media (max-width: 980px){
        .right-corner{
            margin: 0px;
            padding: 0px;
            display: flex;
            flex-direction: column; 
        }
    
    }