<nav class="navbar navbar-expand-lg navbar-dark bg-p">
    <div class="container-fluid">
      <img src="https://tutorials-website-springboot.s3.us-east-2.amazonaws.com/assets/image/download.png" alt="end" class="rounded-circle" width="30px" height="30px">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active"  routerLink="/" (click)="navigateTo()" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLinkActive="active" routerLink="/tutorials">Tutorials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLinkActive="active" routerLink="/blogs">Blogs</a>
          </li>   
          <li class="nav-item">
            <a class="nav-link"  routerLinkActive="active" routerLink="/contact-us">Contact Us!</a>
          </li>   
        </ul>
        <ul class=" right-corner mb-lg-0">
        <form class="d-flex justify-content-center">
          <input class="form-control  " type="search"  placeholder="Search"  name="searchItem" [(ngModel)]="searchItem">
          <button class="btn btn-success mx-2" type="submit" (click)="Search()">Search</button>
        </form>
          <div *ngIf="isLoggedIn"class="dropdown">
            <a class="m-2 dropdown-toggle text-white text-decoration-none" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
             Welcome {{user.name}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item"  routerLink="/myaccount">My Account</a></li>
              <li><a class="dropdown-item"   (click)="LogoutUser()" >Logout</a></li>
            </ul>
          </div>
          <ul *ngIf="!isLoggedIn" class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link"  aria-current="page" routerLinkActive="active" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLinkActive="active" data-bs-toggle="modal" data-bs-target="#signupmodal">SignUp</a>
            </li>        
          </ul>
        </ul>
      </div>
    </div>
  </nav>
  
  <div *ngIf="!isLoggedIn"class="modal fade"  tabindex="-1" aria-labelledby="exampleModalLabel" id="loginModal" aria-hidden="true">
    <app-login ></app-login>
    </div>
 
 <div class="modal fade"  tabindex="-1" aria-labelledby="exampleModalLabel" id="signupmodal" aria-hidden="true">
<app-signup ></app-signup>
</div>
