    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel">SignUp for an Account</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"  (click)="onClose()"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="signupForm">
                <div class="form-group auth-form-group mb-4">
                  <mat-icon matSuffix class="auth-page-icon">face</mat-icon>
                  <input type="text" formControlName="username" class="form-control auth-control" id="username"
                    placeholder="Username" [ngClass]="{ 'is-invalid': f.username.errors && f.username.touched}">
                  <div *ngIf=" f.username.errors" class="f invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                  </div>
                </div>
                <div class="form-group auth-form-group mb-4">
                  <mat-icon matSuffix class="auth-page-icon">perm_identity</mat-icon>
                  <input type="text" formControlName="name" class="form-control auth-control" id="name"
                    placeholder="Name" [ngClass]="{ 'is-invalid': f.name.errors && f.name.touched}">
                  <div *ngIf=" f.name.errors" class="f invalid-feedback">
                    <div *ngIf="f.name.errors.required">Name is required</div>
                  </div>
                </div>
                <div class="form-group auth-form-group mb-4">
                    <!-- <img class="auth-page-icon" src="https://img.icons8.com/material-rounded/24/000000/filled-message.png "  /> -->
                    <mat-icon matSuffix class="auth-page-icon">email</mat-icon>
                    <input type="email" formControlName="email" class="form-control auth-control" id="email"
                    placeholder="Email" [ngClass]="{ 'is-invalid':  f.email.errors && f.email.touched}">
                  <div *ngIf=" f.email.errors" class="f invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                  </div>
                 <div><small *ngIf="otpmessage || !(otpmessage=='')" class="f text-success mb-2">{{otpmessage}}</small></div>
                             <button class="f mt-2 btn btn-sm btn-outline-danger d-flex" [class.disabled]="f.email.errors" (click)="sendOTP()"><div *ngIf="load"><mat-spinner color="accent" diameter="21"></mat-spinner></div><span class="mx-1 ">Send OTP</span></button>
                </div>

                <div class="form-group auth-form-group mb-4">
                     <mat-icon matSuffix class="auth-page-icon">toll</mat-icon>
                    <input type="text" formControlName="otp" class="form-control auth-control" id="otp"
                    placeholder="Enter OTP" [ngClass]="{ 'is-invalid':  f.otp.errors && f.otp.touched}">
                  <div *ngIf=" f.otp.errors" class="f invalid-feedback">
                    <div *ngIf="f.otp.errors.required">otp is required</div>
                  </div>
                </div> 

                <div class="form-group auth-form-group mb-4">
                  <mat-icon matSuffix class="auth-page-icon">vpn_key</mat-icon>
                  <input type="password" formControlName="password" class="form-control auth-control"
                    id="password" [ngClass]="{ 'is-invalid':  f.password.errors && f.password.touched }"
                    placeholder="Password" />
                  <div  *ngIf="  f.password.errors" class="f invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                  </div>
                </div>

                <div class="form-group auth-form-group mb-4">
                  <mat-icon matSuffix class="auth-page-icon">vpn_key</mat-icon>
                  <input type="password" formControlName="cpassword" class="form-control auth-control"
                    id="cpassword" [ngClass]="{ 'is-invalid':  f.cpassword.errors && f.cpassword.touched || signupForm.errors?.misMatch}"
                    placeholder="Confirm Password" />
                    <div class="invalid-feedback f"*ngIf=" f.cpassword.errors?.required && f.cpassword.touched">Confirm Password is required</div>
                  <div class="invalid-feedback f" *ngIf="signupForm.errors?.misMatch">Password do not match</div>
                  <div class="text-success f" *ngIf=" !f.cpassword?.pristine && !signupForm.errors?.misMatch"><small>Passwords match</small></div>
                </div>
                <div *ngIf="message1" class="alert alert-success" role="alert">
                {{message1}}
                </div>
                <div *ngIf="message2" class="alert alert-danger" role="alert">
                {{message2}}
                </div>
                <div class="container-login100-form-btn">
                 
                  <button mat-flat-button class="login100-form-btn text-white" [class.disabled]="signupForm.invalid" type="submit" (click)="submit()">
                   <div class="d-flex justify-content-center "><div class="mt-2" *ngIf="load2"><mat-spinner color="primary" diameter="20"></mat-spinner></div><span class="mx-1">SignUp</span></div>
                  </button>
                </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"  (click)="onClose()">Close</button>
        </div>
      </div>
    </div>
