<div class="text-center my-4">
    <h1>Coding Capsules By Ankita Verma</h1>
</div>
<button class="mx-5" mat-raised-button color="primary" (click)="addBlog()">Add Blog</button>
<!-- <div [innerHtml]="htmls | safe: 'html'"></div> -->
<!-- {{ htmls |  safe: 'html'}} -->
<div *ngFor="let blog of blogs" class="container m-5">
    <mat-card>
        <mat-card-title>{{blog.heading }}</mat-card-title>
        <mat-card-content>{{blog.content }}</mat-card-content>
        <button class="m-2" mat-stroked-button color="primary" (click)="navigateToBlogsPost(blog.blog_id)">Read More
            >></button>
            <button class="m-2" mat-stroked-button color="primary" (click)="editBlog(blog.blog_id)">Edit Blog >></button>
            <button class="m-2" mat-stroked-button color="primary">Delete Blog >></button>
        </mat-card>
    </div>